@model ELibrary.Models.BookList

@{
    ViewBag.Title = "Explore";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<ELibrary.Models.BookRecord> records = ViewBag.records;
    var sessionUser = (ELibrary.Models.User)Session["user"];
}

<h2>Explore</h2>

<table style="border-collapse:separate; border-spacing:1em 1em;">
    @foreach (var book in Model.Books) {
        <tr>
            <td>
                <a href="/Book/Details/@book.id">
                    <img src="~/Images/Books/@book.cover" width="150" />
                </a>
            </td>
            <td>
                <h3>@Html.ActionLink($"{book.name}", "Index", "Book", new { id = book.id }, null)</h3>
                <h4>@Html.ActionLink($"{book.Author1.name}", "Index", "Author", new { id = book.Author1.id }, null)</h4>
                <p>@book.details</p>

                @{
                    ELibrary.Models.BookRecord curr = null;
                    foreach (ELibrary.Models.BookRecord record in records) {
                        if (record.Book1.id == book.id) {
                            curr = record;
                            break;
                        }
                    }

                    if (curr != null) {
                        <p> Price: Tk @curr.price </p>
                        <p> Quantity: @curr.quantity pcs</p>
                    }
                }
            </td>
            @if (sessionUser != null) {
                <td>
                    <a class="btn btn-primary" role="button" href="Explore/AddToCart/@book.id">Add to Cart</a>
                </td>
            }
        </tr>
    }
</table>