@model ELibrary.Models.Book

@{
    ViewBag.Title = $"{Model.name}";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ELibrary.Models.BookRecord record = ViewBag.record;
    var sessionUser = (ELibrary.Models.User)Session["user"];
}

<img src="~/Images/Books/@Model.cover" width="300" class="center-block" style="margin-top:20px" />
<h2>@Model.name</h2>
<h4>@Html.ActionLink($"{@Model.Author1.name}", "Index", "Author", new { id = @Model.Author1.id }, null)</h4>
<p>@Model.details</p>
<div class="container">
    <br />
    <div class="row">Price: Tk @record.price</div>
    <br />
    <div class="row">In Stock: @record.quantity pcs</div>
    <br />

    @if (sessionUser != null) {
        <div class="row">
            <a class="btn btn-primary" role="button" href="/Book/AddToCart/@Model.id">Add to Cart</a>
        </div>
        <br />
    }
</div>
