@{
    ELibrary.Models.User sessionUser = (ELibrary.Models.User)Session["user"];
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Html.Partial("_Favicon")
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ELibrary", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Explore", "Index", "Explore")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>

                <ul class="nav navbar-nav float-right pull-right">
                    @if ((sessionUser != null) && (sessionUser.type_ == 1)) {
                        <li>@Html.ActionLink("Records", "Index", "Record")</li>

                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="#" id="nav-add-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Add
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-item" type="button">@Html.ActionLink("Books", "Book", "Add")</li>
                                <li class="dropdown-item" type="button">@Html.ActionLink("Authors", "Author", "Add")</li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="#" id="nav-edit-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Edit
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-item" type="button">@Html.ActionLink("Books", "Book", "Edit")</li>
                                <li class="dropdown-item" type="button">@Html.ActionLink("Authors", "Author", "Edit")</li>
                                <li class="dropdown-item" type="button">@Html.ActionLink("Users", "User_", "Edit")</li>
                            </ul>
                        </li>
                    }
                    <li class="nav-item dropdown">
                        @if (sessionUser == null) {
                            <a class="dropdown-toggle" href="#" id="nav-profile-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Profile
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-item" type="button">@Html.ActionLink("Login", "Index", "Login")</li>
                                <li class="dropdown-item" type="button">@Html.ActionLink("Register", "Index", "Register")</li>
                            </ul>
                        } else {
                            <a class="dropdown-toggle" href="#" id="nav-profile-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @sessionUser.fullname
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-item" type="button">@Html.ActionLink("Profile", "Index", "Profile")</li>
                                <li class="dropdown-item" type="button">@Html.ActionLink("Cart", "Index", "Cart")</li>
                                <li class="dropdown-item" type="button">@Html.ActionLink("Logout", "Index", "Logout")</li>
                            </ul>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ELibrary</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>